# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# VS Code settings
.vscode/

# Jupyter checkpoints
.ipynb_checkpoints/

# Mac files
.DS_Store

# Logs
*.log

# Ignore Python bytecode
*.pyc
